*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#dff02c,#00f2fe);
transition:0.3s;
}

.container{
width:450px;
padding:40px;
text-align:center;
background:white;
border-radius:15px;
box-shadow:0 10px 30px rgba(0,0,0,0.2);
transition:0.3s;
}

.dark-mode{
background:#e91010;
color:white;
}

.dark-mode .container{
background:#1c0b0b;
color:white;
}

h1{
margin-bottom:15px;
}

p{
margin-bottom:25px;
}

.btn-group{
display:flex;
flex-wrap:wrap;
gap:12px;
justify-content:center;
}

button{
width:150px;
padding:12px;
border:none;
background:#f2f61b;
color:white;
border-radius:8px;
cursor:pointer;
transition:0.3s;
}

button:hover{
background:#ddf45d;
transform:scale(1.08);
}